{% load staticfiles %}
<!--首先引入上面的模块读入静态文件-->
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="电子档案">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="linjie">
<title>
  
    首营资料平台
  
</title>

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-fuzhou.css' %}">
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
	function Search() {
            var post_data_dict = {};//定义一个{}
            
            // 获取所有input的内容，提交数据
            $('.condition input').each(function () {//循环
                // console.log($(this)[0])
                var n = $(this).attr('name');//得到属性值
                var v = $(this).val();//得到val值
                var v_list = v.split('，');//，分割
                post_data_dict[n] = v_list;//定义一个列表
            });
            console.log(post_data_dict);
            var post_data_str = JSON.stringify(post_data_dict);
            $('#movie-choose-x').html('<h2>正在加载数据</h2>');
            $.post('/get_search_data/', {
            // 发送信息
            'post_data': post_data_str,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            },function (data) {
                // 回调函数， 处理后端信息
                $('#movie-choose-x').html(data);
            });           
            }
</script>	

</head>
<body>
	<!--导航  -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!--小屏幕导航按钮-->
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.html" class="navbar-brand">福州鹭燕首营资料电子平台</a>
			</div>
			<!--大屏幕导航按钮-->
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#home">首页</a></li>
					<li><a href="{% url 'login' %}" >登录</a></li>
					{% if user.is_authenticated %}
					<li class="nav-name"><a href=""> 欢迎您：{{user.username}} </a></li>
					<li><a href="{% url 'logout' %}">注销</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<!-- 导航结束 -->
	<!--home -->
	<section id="home">
		<div class="lvjing">
			<!-- 搜索区块 -->
			<div class="condition">
		        <div class="row">
		          <div class="col-md-4">
		            </div>  
		          <div class="col-md-4">
		            <div class="input-group">
		              <input type="text" class="form-control" name="name" placeholder="请输入企业名称">
		              <span class="input-group-btn">
		                <button class="btn btn-default" type="button" onclick="Search();">搜索</button>
		              </span>
		            </div>
		          </div>
		          <div class="col-md-4">
		            </div>  
		        </div><!-- /.row -->
				<div id="movie-choose-x"><br></div>
			</div>
		    <!-- 搜索区块 -->
		</div>
	</section>

</body>
</html>